.tabla{
    display: flex;
    justify-content: center ;
    justify-content: space-around;
    margin: 0px 150px;
}
.columna{
    display: flex;
    flex-direction: column;
    
}
.item{
    border: 1px solid;
    padding: 80px 130px;    
}
h1{
    text-align: center;
}