* {
    color: white;
    background-position: center;
    background-size: contain;
}

.tabla {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0px 150px;
}

.columna {
    display: flex;
    flex-direction: column;
}

.item {
    border: 1px solid;
    padding: 70px 90px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

#item1,
#item2,
#item3,
#item4 {
    border: 1px solid black;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-size: contain;
    background-position: center;
}

.estaciones {
    display: flex;
    flex-direction: row;
    padding: 5px 200px;
    justify-content: center;
}

#item1 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-image: url(../img/otoño.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#item4 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url(../img/verano.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#item2 {
    background-image: url(../img/invierno.png);
}

#item3 {
    background-image: url(../img/primavera.png);
}

#islapagina2 {
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    width: 200px;
    height: 27px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
}

img {
    margin: 5px;
    width: 17px;

}

#uno {
    background-image: url(../img/ot/ot1.png);
}

#dos {
    background-image: url(../img/ot/ot2.png);
}

#tres {
    background-image: url(../img/ot/ot3.png);
}

#cuatro {
    background-image: url(../img/ot/ot4.png);
}

#cinco {
    background-image: url(../img/in/in1.png);
}

#seis {
    background-image: url(../img/in/in2.png);
}

#siete {
    background-image: url(../img/in/in3.png);
}

#ocho {
    background-image: url(../img/in/in4.png);
}

#nueve {
    background-image: url(../img/pr/pr1.png);
}

#diez {
    background-image: url(../img/pr/pr2.png);
}

#once {
    background-image: url(../img/pr/pr3.png);
}

#doce {
    background-image: url(../img/pr/pr4.png);
}

#trece {
    background-image: url(../img/ve/ve1.png);
}

#catorce {
    background-image: url(../img/ve/ve2.png);
}

#quince {
    background-image: url(../img/ve/ve3.png);
}

#diezyseis {
    background-image: url(../img/ve/ve4.png);
}

body {
    background-color: rgb(77, 77, 77);
}