* {
    color: white;
    background-position: center;
    background-size: contain;
}
body {
     color: rgb(255, 142, 142);
}

#paginados{
    background-color: rgb(105, 105, 105);
}
.item img {
  width: 150px;      
  height: auto;
  object-fit: cover;  
  border-radius: 8px; 
   box-sizing: border-box;
  
}
.item p {
  color: white;
  margin-top: 10px;
  text-align: center;
  white-space: normal;         
  word-wrap: break-word;    
  overflow-wrap: break-word;   
}


.tabla {
    display: flex;
    justify-content: space-around;
    margin: 0px 150px;
}


.columna {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    box-shadow: 0px 0px 07px 3px white;
    border-radius: 10px;
     position: relative;
    background-color: black;
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
    min-height: 130px;
}
.precio{
    display: flex;
    position: absolute;
    left: 0%; bottom:-10%;
    background-color: red;
    padding: 5px;
    border-radius: 15px;
    font-size: 27px;
}


/* titulo */
h1 {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* selecionar categoria*/
#item1,
#item2,
#item3,
#item4 {
    border: 1px solid black;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-size: contain;
    background-position: center;
    display: flex; 
    flex-direction: row;
}

.estaciones {
    display: flex;
    flex-direction: row;
    padding: 5px 200px;
    justify-content: center;
}

#item1 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-image: url(../img/otoño.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#item4 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url(../img/verano.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#item2 {
    background-image: url(../img/invierno.png);
}

#item3 {
    background-image: url(../img/primavera.png);
}

.isla {
  display: flex;
  align-items: center;         
  justify-content: space-around; 
  border: 1px solid black;
  padding: 0px 20px;  
    color:  #D9E0A4;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
   background-color: #9DBDB8;
}



