body {

    background-image: url(../inconos/descarga\ \(11\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 950px;
}

.isla {

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 25px;
    background-color: #9DBDB8;
}

.isla .itemis {
    display: flex;
    padding: 0px 100px;
}

.isla #pag1 {
    background-color: transparent;
}


img {
    margin: 5px;
    width: 17px;
    color: white;
    background-color: white;
}

p {
    color: white;
    text-align: center;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

fieldset {
    width: 300px;
    height: 390px;
    margin: auto;
    text-align: center;
    box-shadow: 1px 1px 100px rgb(3, 3, 3);
    border-radius: 22px;
    background: rgba(0, 0, 0, 0.5);

}

label,
input {
    padding: 2px;
    margin: 15px;
    margin-top: -20px 0;

}

form {
    color: white;
    margin-top: 150px;


}

input {
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 22px;
    color: white;
    box-shadow: 1px 1px 20px white;
}

textarea {
    background-color: black;
    border: 1px solid white;
    border-radius: 22px;
    color: white;
    text-align: center;
    resize: none;
    height: 90px;
    box-shadow: 1px 1px 20px white;
    background: transparent;
}

button {
    border-radius: 22px;
    background-color: black;
    border: 1px solid white;
    color: white;
    margin: 30px;
    width: 120px;
    box-shadow: 1px 1px 20px white;

}