* {
    margin: auto;
    box-sizing: border-box;
    padding: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #F0E7D6;
}

.isla {

    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 19px 19px;
    font-size: 25px;

    background-color: #172b7d;
    color: #F0E7D6;
}

fieldset {
    justify-content: space-around;
    display: flex;

    flex-direction: column;
    width: 400px;
    height: 600px;
    margin: auto;
    text-align: center;
    border-radius: 15px;

    align-items: center;
    font-size: 20px;
    background-color: #2b43a4;
    box-shadow: 1px 1px 10px black;
    border: #2b43a4 solid;

}



input {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    min-width: 220px;
    max-width: 220px;
    padding: 15px;
    margin: -5px;
    font-size: 15px;
    background-color: #3359f2;
    box-shadow: 1px 1px 10px black;
    color: #ffffff;
}

label {
    margin: -5px;
    background-color: #2b43a4;
    color: #e0e0e0;
}

.estacion {
    cursor: pointer;
    position: relative;
}

#cuadrotexto {
    background-color: transparent;
    box-shadow: 1px 1px 10px black;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    resize: none;
    font-size: 15px;
    background-color: #3359f2;
}

fieldset p {
    color: #ffffff;
}


button {
    border-radius: 15px;
    background-color: #2a3972;
    border: 1px solid rgb(0, 0, 0)3a4;
    box-shadow: 1px 1px 10px black;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 30px;


}

#checkboxc {
    min-width: 20px;
    max-width: 20px;
    margin: 5px;

}

#checkbox {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;

}

footer {
    position: end;
    bottom: 0;
    left: 0;
    height: 144px;
    width: 100%;
    background-color: #172b7d;
    color: #F0E7D6;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
}

a {
    color: #F0E7D6;
    text-decoration: none;
}

#animacion {
    background-image: url(../../inconos/GRACIAS\ POR\ DARNOS\ TU\ OPINION.gif);
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}