* {
    margin: auto;
    box-sizing: border-box;
    padding: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #F0E7D6;
}

.isla {

    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 19px 19px;
    font-size: 25px;

    background-color: #172b7d;
    color: #F0E7D6;
}

fieldset {
    justify-content: space-around;
    display: flex;
    
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin: auto;
    text-align: center;
    border-radius: 15px;

    align-items: center;
    font-size: 20px;
    background-color: #2b2b3c;

}



input {
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgb(255, 247, 247); */
    border-radius: 15px;
    color: rgb(255, 255, 255);
    /* box-shadow: 1px 1px 2px 2px rgb(100, 100, 100); */
    min-width: 220px;
    max-width: 220px;
    padding: 15px;
    margin: -5px;
    font-size: 15px;
    background-color: #000000;
    color: #ffffff;
}

label {
    margin: -5px;
    background-color: #2b2b3d;
    color: #e0e0e0;
}
.estacion {
    cursor: pointer; 
    position: relative; 
}

#cuadrotexto {
    background-color: transparent;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    resize: none;
    color: #ffffff;
    font-size: 15px;
    background-color: #190031;
}
fieldset p {
    color: #ffffff;
}


button {
    border-radius: 15px;
    background-color: black;
    border: 1px solid white;
    color: white;
    width: 200px;
    height: 30px;


}

#checkboxc {
    min-width: 20px;
    max-width: 20px;
    margin: 5px;

}

#checkbox {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #172b7d;
    color: #F0E7D6;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
}

a {
    color: #F0E7D6;
    text-decoration: none;
}