body {
    background-color: rgb(255, 253, 253);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Bienvenido {
    /*Codigo de la portada*/
    background-image: url(../inconos/imagendeportadasinfondo.png);
    height: 372px;
    width: 1251px;
    border: 1px solid black;
    border-radius: 52px;
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: auto;



}

#eslogan {
    text-align: center;
    color: white;
    margin-top: 145px;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}



.isla {
  display: flex;
  align-items: center;         
  justify-content: space-around; 
  border: 1px solid black;
  padding: 15px; 
    color:  #D9E0A4;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: #19485f ;
}

.isla .item{
    display: flex;
}


/*falta agregar un position: fixed; es opcional */
img {
    margin: 5px;
    width: 17px;

}

#imagendequienesomos {
    background-image: url(../inconos//🌍.jpeg);
    width: 540px;
    height: 500px;
    border-radius: 22px;

}

#parrafo-de-quienes-somos {
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: -70px;
    font-size: 30px;
    display: flex;

}

#primercolumna {
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    justify-content: center;
    width: 1300px;
    margin: auto;
    border-radius: 22px;
}


#trayectoria {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(247, 30, 30);
    border-radius: 22px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

    font-size: 30px;
    margin: 20px;
}

#imagendetrayectoria {
    width: 600px;
    height: 600px;
    box-shadow: 1px 1px 25px rgb(147, 0, 0);
    border-radius: 20px;


}

#reconocimientos {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.reconocimientos {
    border: 1px solid black;
    border-radius: 100px;
    padding: 100px;
}

#reconozco {
    border: 1px solid black;
}

footer {
    position: end;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;

}