body {
    background-color: rgb(210, 210, 210);
    font-family: sans-serif;
    /*fuente general */

}

.Bienvenido {
    /*Codigo de la portada*/
    background-image: url(../inconos/imagendeportadasinfondo.png);
    height: 372px;
    width: 1251px;
    border: 1px solid black;
    border-radius: 52px;
    box-shadow: 4px 4px 25px rgb(65, 75, 85);
    display: flex;
    justify-content: center;
    margin: auto;



}

#eslogan {
    text-align: center;
    color: white;
    margin-top: 145px;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.isla {

    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    width: 200px;
    height: 27px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 25px black;

}

/*falta agregar un position: fixed; es opcional */
img {
    margin: 5px;
    width: 17px;

}

#imagendequienesomos {
    background-image: url(../inconos//🌍.jpeg);
    width: 540px;
    height: 500px;

}

#parrafo-de-quienes-somos {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 1px 1px 40px black;
}

#primercolumna {
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    justify-content: center;




}

#trayectoria {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.segundatabla {
    border: 1px solid black;
    padding: 150px;
}

#reconocimientos {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.reconocimientos {
    border: 1px solid black;
    border-radius: 100px;
    padding: 100px;
}

#reconozco {
    border: 1px solid black;
}

footer {
    background-color: rgb(175, 175, 175);
    width: 100%;
    height: 100px;
}