body {
    background-color: #F0E7D6;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

* {
    margin: auto;
    box-sizing: border-box;
    padding: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Bienvenido {

    background-image: url(../inconos/VOIDWEAR.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: block;

}

a {
    color: #F0E7D6;
}

.isla {

    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 19px 19px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #172b7d;
    color: #F0E7D6;
}

.isla .itemis {
    display: flex;

}




img {
    margin: 5px;
    width: 17px;

}

#imagendequienessomos {
    background-image: url(../inconos/PRIMERIMAGENHOME.png);

    width: 1300px;
    height: 570px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50px;

}

#parrafo-de-quienes-somos {
    color: #F0E7D6;
    text-align: center;

    margin-top: -70px;
    font-size: 30px;
    display: flex;

}

#trayectoria {
    background-image: url(../inconos/portadasegunda.png);

    width: 1100px;
    height: 600px;
    font-size: 80px;


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50px;
}

#imagendetrayectoria {
    width: 600px;
    height: 600px;
    border-radius: 20px;
    font-size: 20px;

    box-shadow: 1px 1px 25px rgb(147, 0, 0);
}

footer {
    position: end;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #172b7d;
    color: #F0E7D6;
    text-align: center;
    padding: 10px 0;

}

#perfilesgithub {
    text-decoration: none;
}

.carrusel {
    position: relative;
    width: 1400px;
    height: 550px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 109px;
}

.carrusel img.imagen {
    width: 1400px;
    height: 550px;
    object-fit: cover;
    display: none;
    border-radius: 10px;
}

.boton-izquierda,
.boton-derecho {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.boton-izquierda {
    left: 10px;
}

.boton-derecho {
    right: 10px;
}

button img {
    width: 50px;
}



#informacion {
    text-align: center;


    border: 1px solid #efe3cb;
    background-color: #dfd3be;
}


#ventanitadeayuda {
    margin-left: -20px;
    padding: 3px;
    border-right: 1px solid black;


}